body{
  font-family: Arial, sans-serif;
  background-color: rgb(255, 196, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 95%;
  height: 100%;
  display: flex;
}

.r1{
  width: 50%;
  padding: 5% 0 0 5%;
  display: block;
}

.r2{
  width: 52%;
  margin-top: 1.5rem;
  display: block;
  margin-left: 5%;

}

/* Center the main heading and add margin at the top */
#heading {
  color: #000000;
  width: 60%;
  font-size: 4rem;
  font-weight: bolder;
  position: fixed;
  margin-top: 8rem;
}

/* Style the form container */
form {
  width: 100%;
  background-color: peachpuff;
  border-radius: 16px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.03);
  padding: 1.2rem;
  position: relative;
}

/* Style form labels */
label{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: black;
}

.ehead{
  color: black;
  font-weight: bold;
}

/* Style text inputs and text areas */
input[type="email"], textarea{
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 3px 2px 3px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size: 16px;
  color: black;
  border: none;
  background: rgba(187, 179, 179, 0.1);
}

/* Style text inputs and text areas */
#subject{
  width: 89%;
  padding: 10px;
  margin-bottom:-1em;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  z-index: 22;
  position: absolute;
  box-shadow: 3px 2px 3px 3px rgba(0,0,0,0.2);
}

/* Style file input */
input[type="file"] 
{
  margin-bottom: 0.5rem;
  color: black;
}

/* Style form submit button */
input[type="button"] 
{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: 0.7s;
}

/* Style submit button on hover */
input[type="button"]:hover 
{
  color: white;
  font-size: 16px;
  font-style: bold;
  background-color:rgb(44, 44, 44);
  transition: 0.7s;
}

/* Style container for valid and invalid emails */
#validEmails, #invalidEmails 
{
  font-style: bold;
}

/* Style paragraphs within container for valid and invalid emails */
#validEmails p,#invalidEmails p 
{
  font-weight: bold;
  color: black;
}

/* Style divs within container for valid and invalid emails */
#validEmails div, #invalidEmails div, #senderEmail, #message
{
color: black;
}

/* Style text inputs and text areas */
input[type="email"]:focus,
textarea:focus 
{
  outline: none !important;
  border-color: #393d40;
}
#validEmails, #invalidEmails 
{
  height: 4rem;
  overflow: auto;
}